  <!DOCTYPE HTML>
  <html xmlns:th="http://www.thymeleaf.org">
  <head>
  <meta charset="UTF-8" />
  <title>Welcome</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
  </head>
  <body>	
  	<div>
  		<h1>Your new Pokémon Card</h1>
  	</div>
  	<p><img class="uk-comment-avatar" th:src="${myCard.family_src}" alt="pb"></p>
  	<img class="uk-comment-avatar" th:src="${myCard.img_src}" alt="pb de source">
  	<div>
  		<ul>
  		  	<li><p>Family icon : <p><img class="uk-comment-avatar" th:src="${myCard.family_src}" alt="pb"></p></p></li> 	
  		  	<li><p th:utext="'Family name : ' + ${myCard.family_name}"></p></li>
  		  	<li><p>Pokémon image : <img class="uk-comment-avatar" th:src="${myCard.img_src}" alt="pb de source"></p></li>
  			<li><p th:utext="'Pokémon name : ' + ${myCard.name}"></p></li>
  			<li><p th:utext="'Pokémon description : ' + ${myCard.description}"></p></li>
  			<li><p th:utext="'Pokémon hp : ' + ${myCard.hp}"></p></li>
  			<li><p th:utext="'Pokémon energy : ' + ${myCard.energy}"></p></li>
  			<li><p th:utext="'Pokémon attack : ' + ${myCard.attack}"></p></li>
  			<li><p th:utext="'Pokémon defense : ' + ${myCard.defense}"></p></li>
  			<li><p th:utext="'Pokémon affinity : ' + ${myCard.affinity}"></p></li>
  			<li><p th:utext="'Card price : ' + ${myCard.price} + '$'"></p></li>
  			<li><p th:utext="'Card ID : ' + ${myCard.card_id}"></p></li>
  			<li><p th:utext="'Owner\'s user ID : ' + ${myCard.user_id}"></p></li>
  		</ul>
  		<a href="/index">Random Pokémon</a>
  	</div>
  </body>
  </html>