<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <!-- Standard Meta -->
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

        <!-- Site Properties -->
        <title>Grid Example - Semantic</title>

        <link rel="stylesheet" type="text/css" href="/lib/Semantic-UI-CSS-master/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="css/custom.css">

    </head>

    <body>
        <div class="ui five column grid">
            <div class="row"></div>
            <div class="column"></div>
            <div class="column"></div>
            <div class="column">
                       
                <form class="ui form" th:action="@{/addCarte}" th:object="${CarteForm}" method="POST">
                <fieldset >
                    <h3 class="ui dividing header">Name </h3>
                    <div class="field">
                        <label>Name</label>
                        <input type="text" placeholder="Name" id="Name" th:field="*{name}">
                    </div>
                    <div class="field">
                        <label>description</label>
                        <input type="text"  placeholder="description" id="Description" th:field="*{description}">
                    </div>
                    <div class="field">
                        <label>Image URL</label>
                        <input type="text" placeholder="Image Url" id="ImgURL" th:field="*{img_src}">
                    </div>
                 </fieldset>
                    <div class="field">
                        <label>family</label>
                        <select name="family_name" id="FamilyName" th:field="*{family_name}">
                            <option value="">--Please choose family</option>
                            <option value="family_name">family_name</option>
                            <option value="TestFam">TestFam</option>
                            <option value="TestFam2">TestFam2</option>
                        </select>
                    </div>
                    <div class="field">
                        <label>affinity</label>
                        <select name="Affinity" id="Affinity" th:field="*{affinity}">
                            <option value="">--Please choose affinity</option>
                            <option value="Fire">Fire</option>
                            <option value="Water">Water</option>
                            <option value="Wind">Wind</option>
                        </select>
                    </div>
                    <div class="field">
                        <label>HP</label>
                        <input type="range" min="10" max="100" step="1" name="HP" id="HP" th:field="*{hp}">
                    </div>
                    <div class="field">
                        <label>energy</label>
                        <input type="range" min="0" max="80" step="1" name="energy" id="Energy">
                    </div>
                    <div class="field">
                        <label>attack</label>
                        <input type="range" min="0" max="50" step="1" name="attack" id="Attack">
                    </div>
                    <div class="field">
                        <label>defense</label>
                        <input type="range" min="0" max="50" step="1" name="defense" id="Defense">
                    </div>
                    <button class="ui button" type="reset" >Cancel</button>

                    <input type="submit"  class="uk-button uk-button-default" value="Ok" />
                </form>
            </div>
        </div>

    <p id="result"></p>
    </body>
</html>